<app-nav></app-nav>

<div class='profile-container'>
    <div class='content-container'>
        <img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t1.6435-9/191479409_2895278644095471_5164225700852483952_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeH90uI0zzVW7t2eCpiDPVu5GWefTaTtfysZZ59NpO1_KwzRuyRe6JAjAPw1YluVcPhOrkAS9slDbfeiDTT0U5dx&_nc_ohc=w900Qs2qNsgAX96DgZU&_nc_ht=scontent.fceb1-3.fna&oh=d4d3fb7938bb2afa9eb4c5e3342f0f31&oe=619EDCFA" alt="">
        <ol>
            <li><h3>Jhoniel Garilla</h3></li>
            <li>BSIT-3E</li>
            <li>EVSU-Main</li>
        </ol>
    </div>
</div>